target/
**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

bin/

### VS Code ###
.vscode/
.settings/
### macOS ###
.DS_Store

.classpath
.project
.factorypath

